<!DOCTYPE html>
<html>
<head>
    <title>history</title>
    <link rel="stylesheet" href="D:\PETA codes\python-flask--personal-expense-tracker-main\python-flask--personal-expense-tracker-main\personal_expense_ttracker\static\css\ibm.css"/> 
</head>


<body>
      <h3>History</h3>
      <ul id="list" class="list">
        

            <script src="D:\PETA codes\python-flask--personal-expense-tracker-main\python-flask--personal-expense-tracker-main\personal_expense_ttracker\static\js\ibm.js">
            </script>
</body>
</html>
