
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  
  <link rel="stylesheet" href="..\static\css\home.css">
  <title>Expense Tracker</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>TRACKER</span> <span></span>APPLICATION</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="signin" data-after="Login.html">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Welcome To <span></span></h1>
        <h1> Personal Expense Tracker Application <span></span></h1>
        <a href="signup.html" type="button" class="cta">Sign-up</a> 
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->
</body>


</html>
